* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", system-ui;
  font-weight: 500;
}
html {
  font-size: 62.5%;
}
body {
  width: 100%;
  min-height: 100vh;
  background-color: hsl(30, 3%, 87%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

:root {
  --yellow-500: hsl(39, 100%, 71%);
  --yellow-100: hsl(31, 66%, 93%);
  --purple-100: hsl(254, 88%, 90%);
  --purple-500: hsl(256, 67%, 59%);
  @import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
}

.attribution {
  font-size: 2rem;
  margin-top: 2rem;
}
.content {
  gap: 2rem;
  display: flex;
}
.content h1 {
  line-height: 0.9;
}
.content .item {
  border-radius: 1rem;
}

.first-grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
  max-width: 25rem;
}
.first-grid .item {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.first-grid .item h1 {
  font-size: 3rem;
}
.first-grid .item i {
  color: var(--purple-500);
}
.first-grid .item img {
  width: 100%;
}

.first-grid .item:nth-child(1) {
  background-color: var(--yellow-100);
  padding: 3rem;
}

.first-grid .item:nth-child(2) {
  background-color: var(--yellow-500);
  justify-content: space-between;
}
.first-grid .item:nth-child(2) h1 {
  width: 80%;
}

.second-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(20rem, 25rem));
  grid-template-rows: repeat(3, 1fr);
  gap: 2rem;
}
.second-grid .item {
  padding: 2.5rem;
  overflow: hidden;
}

.second-grid .item:nth-child(1) {
  grid-column: 1 / span 2;
  background-color: var(--purple-500);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: white;
}
.second-grid .item:nth-child(1) h1 {
  font-size: 5rem;
}
.second-grid .item:nth-child(1) span {
  color: var(--yellow-500);
}
.second-grid .item:nth-child(1) p {
  font-size: 1.8rem;
}
.second-grid .item:nth-child(1) img {
  width: 35%;
}

.second-grid .item:nth-child(2) {
  grid-row: 1 / span 2;
  grid-column: 3;
  background-color: var(--purple-100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.second-grid .item:nth-child(2) h1 {
  font-size: 2.5rem;
  font-weight: 600;
}
.second-grid .item:nth-child(2) p {
  font-size: 1.5rem;
}
.second-grid .item:nth-child(2) img {
  width: 160%;
}

.second-grid .item:nth-child(3) {
  grid-row: 2;
  background-color: white;
}
.second-grid .item:nth-child(3) h1 {
  font-size: 3rem;
  margin-top: 1rem;
}
.second-grid .item:nth-child(3) img {
  width: 150%;
}

.second-grid .item:nth-child(4) {
  grid-row: 2;
  background-color: var(--yellow-500);
  position: relative;
}
.second-grid .item:nth-child(4) h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.second-grid .item:nth-child(4) img {
  position: absolute;
  max-width: 80%;
}

.second-grid .item:nth-child(5) {
  grid-row: 3;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.second-grid .item:nth-child(5) h1 {
  font-size: 6rem;
}
.second-grid .item:nth-child(5) p {
  font-size: 1.8rem;
}
.second-grid .item:nth-child(5) img {
  width: 80%;
}

.second-grid .item:nth-child(6) {
  grid-column: 2 / span 2;
  background-color: var(--purple-500);
  display: flex;
  justify-items: space-around;
  align-items: center;
}
.second-grid .item:nth-child(6) h1 {
  font-size: 3.5rem;
  color: white;
  width: 60%;
}
.second-grid .item:nth-child(6) img {
  width: 50%;
  margin-right: 1rem;
}
